@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

h2 {
    color: var(--soft-orange);
    font-size: 30px;
}


header, section {
    margin: 0 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.logo {
    font-weight: 800;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

a:hover, a:active {
    color: var(--soft-red);
}

nav li {
    list-style: none;
    display: inline-block;
    margin: 0 0 0 40px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hero .right {
    width: 32%;
    padding: 15px;
    background-color: var(--Very-dark-blue);
}

.hero .left {
    background-color: black;
    width: 65%;
    padding: 15px;
}

.hero .right h2 {
    margin: 10px 0;

}